@font-face {
  font-family: "AlibabaPuHuiTi-3";
  src: url("https://www.unpkg.com/font-online/fonts/AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-65-Medium.woff")
    format("woff");
  font-weight: 500;
}

:root {
  --vp-font-family-base: AlibabaPuHuiTi-3;
}
